/* Media queries

600px: phone
900px: Tablet portrait
1200px: Tablet lanscape
1800px: Big Desktop

*/
/*
    Params:
    phone
    tab-port
    tab-land
    big-desktop
*/
.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }
