@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/mixins';

.form {

    &__group {

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    &__radio-group {
        width: 50%;
        display: inline-block;

        @include breakpoint(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}