/* Media queries

600px: phone
900px: Tablet portrait
1200px: Tablet lanscape
1800px: Big Desktop

*/
/*
    Params:
    phone
    tab-port
    tab-land
    big-desktop
*/
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }
