.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 9000;
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal__content {
    position: absolute;
    background-color: #fff;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    opacity: 0;
    transition: all .5s .2s; }
  .modal__left {
    width: 33.3333333%;
    display: table-cell; }
  .modal__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .modal__img {
    display: block;
    width: 100%; }
  .modal__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }
  .modal__close:link, .modal__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: color .3s;
    line-height: 1; }
  .modal__close:hover {
    color: #55c57a; }
  .modal:target .modal__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
