@import '../abstracts/_variables';

.row {
    max-width: $grid-width;
    margin: 0 auto;

    //Everything except the last child
    &:not(:last-child) {
        margin-bottom: $grid-gutter-vertical;
    }
}