body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  user-select: none; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 80px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
